@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --purple-primary: #6636f1;
  --white-100: #FFFFFF;
}


body {
  background: linear-gradient(159deg, rgba(15,15,15,1) 0%, rgba(34,42,104,1) 100%);
  min-height: 100vh;
  max-width: 144rem;
  margin: 0 auto;
}

::selection:not(img)   {
  background-color: var(--purple-primary);
  color: var(--white-100)
}

img::selection {
  background: none;
  color: transparent;
}

body  main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul {
  list-style-type: none;
}

:root, button {
  font-family: 'Lexend Deca', sans-serif;
  color: #F5F5F5;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--purple-primary);
  min-height: 2.7rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
}

/* ================= */
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.animated-bg {
  background: linear-gradient(
      to right, var(--purple-primary),
      #fd1d1d, #fcb045);
      background-size: 400% 400%;
      animation: gradientBg 8s infinite ease-in-out;
}

@keyframes gradientBg {
  0%{
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
